@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --var--black: #1c1d21;
}

body {
  margin: 0;
  padding: 0;
}
li > input,
li > input::placeholder {
  font-size: 14px;
  font-weight: 500;
}

nav > ul > li > a:hover {
  color: goldenrod;
}
nav > ul > li > a:active {
  color: goldenrod;
}
